# EditorConfig is awesome: https://EditorConfig.org

# トップレベルのEditorConfigファイル
root = true

# すべてのファイルに適用
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# マークダウンファイルでは末尾のスペースを保持
[*.md]
trim_trailing_whitespace = false

# HTMLファイル
[*.html]
indent_size = 4

# CSSファイル
[*.css]
indent_size = 4

# JavaScriptファイル
[*.js]
indent_size = 4

# JSONファイル
[*.json]
indent_size = 4
